
/*** VSCodeEDU preview fix 

  Purpose:
  - Fix VSCodeEDU issue that causes a white border to show around
    the preview window

  When To Modify:
  - If you change the background color of your webpage, you may need to update this rule too.
***/
html {
  background-color: var(--bg-color);
}

/*** body ***

Purpose:
- Add style rules for the body of your webpage
- This is useful if you want a rule to apply to EVERYTHING on your page
  - (Tip: You can always override these rules later in the stylesheet)

When To Modify:
- [ ] Project 3 (REQUIRED FEATURE) 
- [ ] Any time after
***/

body {
  /* Add a background color or image */
  background-color: var(--bg-color); /* see bottom of file for color variables */

  /* Customize the default size, color, and font for text*/
  font-size: 16px;
  width: 100%;
  color: var(--text-color);
  font-family: Tahoma, sans-serif; /* This tells the browser: "Try to use `Tahoma`, and if you can't find it, use any sans-serif font." */

  /* Put space around the edges of the webpage */
  margin: 0px;
  display: flex;
  flex-direction: column;
}

/*** Text ***

Purpose: 
- Add style rules for headings (h1-6),
  paragraphs (p), links (a), and buttons

When To Modify:
- [X] Project 3 (REQUIRED FEATURE) 
- [ ] Any time after
***/


h1 {
  background-color: #c8c3e8;
  font-family: monospace;
  font-size: 48px;
}

h2 {
  background-color: #a6a0cf;
  font-family: monospace;
}

h3 {
  background-color: #a6a0cf;
  font-family: monospace;
}

h4 {
  background-color: #8e8d96;
  font-family: monospace;
}

p {
  font-size: 15px;
}

a,
a * {
  font-family: monospace;
  font-size: 12px;
  text-align: left;
}

a:link {
  color: blue;
}

a:hover {
  color: rgb(160, 15, 15);
}

a:visited {
  color: rgb(97, 100, 103);
}
.footer-link{
  font-family: monospace;
  font-size: 14px;
}
button {
  /* Example Style, replace with your own! */
  background-color: #684fb5;    /* button color */
  color: white;             /* text color */
  border: none;               /* hides the default border */
  padding: 5px 12px;          /* space between button's text and edge */
  border-radius: 5px;         /* curved edges instead of square */
  cursor: pointer;            /* makes the cursor change when over button */

}


/*** header ***

Purpose:
- Add style rules for your website's header section

When To Modify:
- [X] Project 3 (REQUIRED FEATURE) 
- [ ] Project 4 (REQUIRED FEATURE) 
- [ ] Any time after
***/

.header-container { /*  Example A: This styles elements with class="header" */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  padding-top: 15px;
  margin-bottom: 5px;
  margin-top: 10px;
}

.header-item:nth-of-type(1) {
  width: 50%;
}

.header-item:nth-of-type(2) {
  width: 50%;
}

#header-img {
  height: 150px;
  width: 100px;
  padding: 5px;
  margin-top: 30px;
  max-width: 200px;
}

.header-button {
  background-color: #684fb5;
  color: white;
  border: none;
  font-size: 13px;
  text-align: center;
  padding: 5px 10px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer; 
}

.header-button:hover {
  /* Make the button look different when the user hovers over it */
  color: #28eb76;
  background-color: #402b81;
  border: #684fb5;
  border-style: solid;
  border-color: #011107;
  border-width: 1px;
}


/*** footer ***

Purpose:
- Add style rules for your website's footer section

When To Modify:
- [ ] Project 3 (STRETCH FEATURE) 
- [ ] Any time after
***/

.footer { /* Example B: This styles elements with class="footer" */
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #d2cff5;
  color: rgb(11, 11, 215);
  font-size: 15px;
}

/*** Navigation bar (navbar) ***
  
  Purpose:
  - Add style rules for your website's navbar

  When To Modify:
  - [ ] Project 4 (REQUIRED FEATURE) 
  - [ ] Any time after
***/

.navbar ul {
  z-index: 1000; /* Ensures the navbar is on top of other elements */
  list-style-type: none;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 0;
  margin-bottom: 45px;
  background-color: #684fb5;
}

.navbar ul li {
  float: left;
  margin: 10px;
}

.navbar ul li a {
  display: block;
  text-decoration: none;
  color: white;
  text-align: center;
  padding: 14px 10px;
}

.navbar ul li a:hover {
  background-color: #402b81;
  color: #28eb76;   
}

/*** About Section ***

Purpose:
- Add style rules for your website's About section

When To Modify:
- [ ] Project 3 (OPTIONAL)
- [ ] Project 4 (STRETCH FEATURE) 
- [ ] Any time after
***/

#video {
  text-align: center;
}


/*** Schedule Section ***

Purpose:
- Add style rules for your website's Schedule section

When To Modify:
- [ ] Project 3 (OPTIONAL)
- [ ] Project 4 (STRETCH FEATURE) 
- [ ] Any time after
***/


/*** Links Section ***

Purpose:
- Add style rules for your website's Links section

When To Modify:
- [ ] Project 3 (OPTIONAL)
- [ ] Project 4 (STRETCH FEATURE) 
- [ ] Any time after
***/



/*** RSVP Section ***
  
  Purpose:
  - Add style rules for your website's RSVP form

  When To Modify:
  - [ ] Project 6 (REQUIRED FEATURE)
  - [ ] Project 7 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.rsvp-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  padding-bottom: 50px;
}

/* Add other rsvp-related selectors here */

.rsvp-para {
  width: 55%;
  padding-right: 10px;
}

.rsvp-participants {
  width: 45%;
  padding-right: 10px;
}

#rsvp h2 {
  text-align: center;
  font-size: 23px;
}

#rsvp-form {
  margin-bottom: 5px;
  width: 70%;
}

#rsvp-button {
  align-items: center;
  position: relative;
  align-content: center;
}

#name, #phone, #email, #h_state {
  margin-bottom: 15px;
  margin-right: 30px;
}

.error {
  border-style: solid;
  border-width: 2px;

  /* Set border-color and background */
  background-color: rgb(219, 65, 65);
  border-color: red;
}


/*** Animations [PLACEHOLDER] [ADDED IN UNIT 8] ***/


/*** Success Modal  ***
  
  Purpose:
  - Add style rules to your website's pop-up modal, which appears
    when a user successfully submits the RSVP form

  When To Modify:
  - [ ] Project 9 (REQUIRED FEATURE)
  - [ ] Any time after
***/

.modal {
  display: none;   /* modal should be hidden by default*/
  position: fixed; /* modal cannot move around the screen */
  z-index: 2;      /* modal appears above other elements */ 
  
  /* TODO: Make the modal fill the entire screen */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

  /* Add a semi-transparent background to shadow non-modal elements*/
  background-color: rgba(0,0,0,0.4); /* 40% opacity black */

  /* Flexbox settings for modal */
  /* These won't apply until we update "display:" from "hidden" to "flex" in our JS */
  flex-direction: column; 
  align-items: center;
  justify-content: center;
}

.modal-container {
    /* Change modal size and spacing here */
    padding: 50px;
    width: 55%;

    /* Customize modal style here */
    background-color: lightsteelblue;
    color: black;
    text-align: center;
    font-size: 1rem;
    font-family: monospace;

    /* Optional: Use flexbox to customize .modal-item layout */
    display: flex;

}

.modal-item {
    /* Optional: Style individual elements within the modal */
}


/* Add style to button */
#theme-button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

/* Default dark mode style */
.dark-mode {
  background-color: black;
  color: white;
}

.dark-mode body,
.dark-mode html {
  background-color: black;
}

.dark-mode h1, 
.dark-mode h2, 
.dark-mode h3,
.dark-mode h4, 
.dark-mode p {
  background-color: rgb(48, 30, 30);
  color: white;
}

.dark-mode a {
  color: #58a6ff;
}

.dark-mode a:hover {
  color: #1e90ff;
}

.dark-mode a:visited * {
  color: #b3b3b3;
}

.dark-mode #theme-button {
  background-color: #6a0dad;
  color: #c0ffc0;
}

.dark-mode .header-container,
.dark-mode button {
  background-color: black;
  color: white;
}

.dark-mode .footer{
  background-color: #d2cff5;
}

/*** Custom Colors (OPTIONAL) ***

Purpose:
- Use CSS variables to define custom colors for your website
- To get you started, we've provided the color scheme used in our example site.
- To reference a color variable in your css, use var(--variable-name) in place of a color value

When To Modify:
- [ ] Any time (OPTIONAL)
***/

:root {
  /* Light Mode */
  --bg-color: #a6a0cf;
  --text-color: #231942;

  /* Dark Mode */
  --bg-color-dark-mode: #3e3377;
  --text-color-dark-mode: #fff;

  /* Accent Colors */
  --accent-color-light: #d2cff5;
  --accent-color-medium: #684fb5;
  --accent-color-dark: #482f95;
  --accent-color-darkest: #231942;
  --accent-color-green: #28eb76;

  /* Error Colors */
  --error-color: #f8bbd0;
  --error-color-border: #e63946;
}
